# OS                 #
######################
.DS_Store
.DS_Store?

# Python             #
######################
*.pyc

# Node               #
######################
node_modules

# .NetCore           #
######################
*.lock.json
obj
bin

# IDE                #
######################
.vscode
*.VC.db

# VIM specific       #
######################
*~
