<!DOCTYPE HTML>
<!-- ----------------------------------------------------------------------  -->
<!--                                                                         -->
<!-- Module: index.html                                                      -->
<!--                                                                         -->
<!-- Notes:                                                                  -->
<!--                                                                         -->
<!-- ----------------------------------------------------------------------- -->

<html>
   <head>
      <link href="{{ static_url('global.css') }}" rel="stylesheet" type="text/css">
   </head>
   
   <body>
  
   </body>

</html>
